html
  head
  body
    .container
      form(action='/api/videos/#{video._id}/update/delete' method='POST')
        h1 deleted successfully
        .form-group
          button.btn.btn-info(type='submit') Done