


<div class="container">
<h1> Movie Details </h1>


<p>Title: <%= video.title %></p>
<p>Genre: <%= video.price %></p>
<p>Description: <%= video.category %></p>




<p>
<a href="/">Back to List</a>
</p>

</div>

