


collect.insert({
title: title,
price: price,
image: image,
username: user.username
})


if (!user)
  a(href="/login") Login
  br
  a(href="/register") Register
if (user)
  p You are currently logged in as #{user.username}
  h1= title
  a(href="/logout") Logout